[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	editor = nvim
	pager = delta

[user]
	name = Sibin Arsenijević
	email = sibin.arsenijevic@united.cloud

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[push]
	default = simple

[init]
	defaultBranch = master

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
