### Global
build/
out/
*.pid
*.pid.lock
*.env
*.log
*.out


### Node
node_modules
.npm
.cache
.next
npm-debug.log*
yarn-debug.log*
yarn-error.log*


### Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/

dist/
sdist/
wheels/
docs/_build/
.pytest_cache/
.Python
.venv
pip-selfcheck.json
pyvenv.cfg


### Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map


### Java
*.class
*.jar
*.war
*.nar
*.ear
hs_err_pid*


### Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json


### JetBrains
.iidea
.idea_modules/

*.iml
*.iws

cmake-build-*/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


### SVN
.svn


### Mercurial
.hg/
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags


### Redis
*.rdb


### Vagrant
.vagrant/


### VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/


### MacOS
.DS_Store
.AppleDouble
.LSOverride
*.app


### Windows (ewwww)
Thumbs.db
[Dd]esktop.ini
*.stackdump
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*.exe


### Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*


### Ansible
*.retry


### Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata


### Images
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2
*.jxr
*.hdp
*.wdp
*.gif
*.raw
*.webp
*.png
*.apng
*.mng
*.tiff
*.tif
*.svg
*.svgz
*.pdf
*.xbm
*.bmp
*.dib
*.ico
*.3dm
*.max


### Archives
*.7z
*.jar
*.rar
*.zip
*.gz
*.gzip
*.tgz
*.bzip
*.bzip2
*.bz2
*.xz
*.lzma
*.cab
*.xar
*.iso
*.tar
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.msi
*.msm
*.msp
*.txz

